@mixin fc(
	$color: #000,
	$size: 16px
){
	color: $color;
	font-size: $size
}
@mixin circle(
	$width: 200px,
	$height: 200px
){
	width: $width;
	height: $height;
	border-radius: 50%;
	text-align: center;
	line-height: $height;
}
@mixin absolute(
	$top: 0,
	$left: 0,
	$right: 0,
	$bottom: 0
){
	position: absolute;
	top: $top;
	left: $left;
	right: $right;
	bottom: $bottom
}
$height-blue: #0f79b9;
@mixin fw-normal{
	font-weight: normal;
}
@mixin fw-bold{
	font-weight: bold;
}
@mixin fw-bolder{
	font-weight: bolder;
}
body{
	z-index: 1;
}

.addToCart{
	background: $height-blue;
	@include circle(36px,36px);
	@include absolute(100px,100px);
	@include fw-bold;
	span{
		@include fc(#fff,30px);
	}
	line-height: 30px;
	cursor: pointer;
	z-index: 10;
}


.shopCart{
	width: 100px;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	background: #35b317;
	color: #fff;
	text-align: center;
	position: absolute;
	right: 100px;
	bottom: 100px;
}

.box{
	@extend .addToCart;
	z-index: 9;
	background: #e0c01b;
}